<a href="https://colab.research.google.com/github/ValeriaTri01/IA/blob/main/clase_1Python_ipy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
miVariable1 = 4

In [ ]:
miVariable2 = 6

In [ ]:
print(miVariable1+miVariable2)
print(miVariable1-miVariable2)
print(miVariable1*miVariable2)
print(miVariable1/miVariable2)
print(miVariable1^miVariable2)

10
-2
24
0.6666666666666666
2

In [ ]:

aux1 = True
aux2 = False

print(aux1 and aux2)
print(aux1 or aux2)
print(not aux1)

False
True
False

In [ ]:
presentar = "My name is "
nombre = "Valeria"
edad = " and I'm 22 years old"
print(presentar.lower() , nombre , edad.upper())

my name is  Valeria  AND I'M 22 YEARS OLD

In [ ]:
tmp = 'Graciela, Crithian, Ximena, Pablo'
print(tmp)
print(tmp.split(','))

Graciela, Crithian, Ximena, Pablo
['Graciela', ' Crithian', ' Ximena', ' Pablo']

In [ ]:
from os import remove
from pickle import APPEND
listaUtiles=['computadora','regla','pincel','borrador','lapiz']
print(listaUtiles)
listaUtiles.append('computer')
print(listaUtiles)
#Así se comenta lienas de código en python
#listaUtiles.pop(1)
del listaUtiles[1]
print(listaUtiles)

['computadora', 'regla', 'pincel', 'borrador', 'lapiz']
['computadora', 'regla', 'pincel', 'borrador', 'lapiz', 'computer']
['computadora', 'pincel', 'borrador', 'lapiz', 'computer']

In [ ]:
lista = ['borrador','borrador','borrador','borrador']
lista.remove('borrador')
print(lista)

['borrador', 'borrador', 'borrador']

In [ ]:
nuevaLista=list(range(15))
print(nuevaLista)
print(nuevaLista[4:11])
print(nuevaLista[-3])
print(nuevaLista[10:5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[4, 5, 6, 7, 8, 9, 10]
12
[]

In [ ]:
miDiccionarioV = {'Graciela':'bonita', 'Cristhian':'Alto', 'Jamileth':''}

print(type(miDiccionarioV))

for key, value in miDiccionarioV.items():
  print(f'key {key}, value {value}')
  print('key %s, value %s'%(key,value))
  print('the key value is: {} and the value is: {}'.format(key, value))
miDiccionarioV['monkey']='so cute'

print('------------------')
print(miDiccionarioV)

<class 'dict'>
key Graciela, value bonita
key Graciela, value bonita
the key value is: Graciela and the value is: bonita
key Cristhian, value Alto
key Cristhian, value Alto
the key value is: Cristhian and the value is: Alto
key Jamileth, value
key Jamileth, value
the key value is: Jamileth and the value is:
------------------
{'Graciela': 'bonita', 'Cristhian': 'Alto', 'Jamileth': '', 'monkey': 'so cute'}